* {
}

a {
  display: inline-block;
  padding: 1px;
}

a[data-unique-nobody-use-this-link-opened="true"] {
  position: relative;
  top: -1px;
  border: 1px solid #DDD;
  padding-top: -1px;
  background-color: white;
  z-index: 999;
  border-bottom: 1px solid white;
}

.expand-div {
  position: relative;
  top: -1px;
  padding: 0 10px 0 10px;
  border: 1px solid #DDD;
  margin-bottom: 5px;
  box-shadow: 0 1px 1px #D9D9D9;
}
